@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Cinzel&family=Cormorant+Garamond&family=Cookie&family=Dancing+Script&family=Great+Vibes&family=Herr+Von+Muellerhoff&family=Marck+Script&family=Pacifico&family=Parisienne&family=Playfair+Display&family=Sacramento&family=Satisfy&family=Tangerine&fomily=Dancing+Script&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --isw: 1920;
  --ish: 1080;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --header-height: 54px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.movable-handle {
  cursor: pointer;
  border: 2px solid transparent;
  /* width: fit-content; */
  padding: 8px;
  caret-color: #1BC47D
}

.movable-handle-hover {
  background: rgba(255, 255, 255, 0.281);
}

.movable-handle-parent:hover .movable-handle {
  background: rgba(255, 255, 255, 0.281);
}

.editable {
  background: rgba(255, 255, 255, 0.281);
  border: 2px solid #1BC47D;

}

.movable-handle.active {
  cursor: default;
  border-color: #1BC47D;
  background: rgba(255, 255, 255, 0.281);
}

.menu {
  @apply overflow-y-auto py-1 z-[999] border border-gray-300 whitespace-nowrap bg-white shadow rounded-md min-w-[140px] 2xl:min-w-[180px]
}

.list {
  @apply capitalize !cursor-pointer w-full text-left !text-[11px] lg:!text-xs 2xl:!text-[15px] !text-gray-500 hover:bg-gray-100 !px-2 !py-2 2xl:!px-3 2xl:!py-3;
}

.list.active,
.list-with-icon.active {
  @apply bg-gray-100;
}