@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --isw: 1920;
  --ish: 1080;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --header-height: 54px;
  --color-guide-line-color: #ff8c00;
  --color-primary: #00c3a5;
  --color-danger:#ff4a4a;
  --color-primary-text:#333333;
  --color-secondary-text:#666666;
  --color-light-gray:#e6e8eb;
  --color-very-light-gray:#f8f9fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #eeeeee;
  color: var(--foreground);
}

.def-label{
  @apply text-gray-900 text-sm font-semibold mb-2 block
}

button {
  cursor: pointer;
}

body.grabbing {
  cursor: alias !important;
}

body.moving {
  cursor: move !important;
}

body.resizing {
  cursor: grabbing !important;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.movable-handle {
  cursor: pointer;
  outline: 2px dashed transparent;
}

.editable-div{
  white-space:pre;
}

.movable-handle-hover {
  background: rgba(255, 255, 255, 0.281);
  outline: 2px dashed #d6d6d6;

}

.movable-handle:hover {
  background: rgba(255, 255, 255, 0.281);
}


.editable {
  background: rgba(255, 255, 255, 0.281);
  outline: 2px solid #1BC47D;
}

.movable-handle.active {
  cursor: default;
  outline-color: #1BC47D;
  outline-style: solid;
  background: rgba(255, 255, 255, 0.281);
}


.movable-handle:not(.active):hover {
  outline-color: #d6d6d6;
}

.movable-handle.active.sticker {
  background: transparent;
}

.movable-handle.content-editable {
  background: transparent;
}

.menu {
  @apply overflow-y-auto py-1 z-[999] border border-gray-300 whitespace-nowrap bg-white shadow rounded-md min-w-[140px] 2xl:min-w-[180px]
}

.font-list {
  @apply capitalize !cursor-pointer w-full text-left text-base !text-gray-500 hover:bg-gray-100 !px-2 !py-2 2xl:!px-3 2xl:!py-3;
}

.list.active,
.font-list.active,
.list-with-icon.active {
  @apply bg-gray-100;
}

[data-draggable] {
  will-change: transform;
  cursor: move;
}

/* custom range */
/* Add this to your global CSS file */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
  background: var(--thumb-color);
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.custom-range::-moz-range-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
  background: var(--thumb-color);
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.custom-range:focus {
  outline: none;
}

.custom-range::-webkit-slider-runnable-track {
  appearance: none;
  height: 6px;
  border-radius: 4px;
}

.custom-range::-moz-range-track {
  height: 6px;
  border-radius: 4px;
}